<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23098540001-52kv2qbeqbmhqlqb8pg3kqpa2lhikgiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23098540001-52kv2qbeqbmhqlqb8pg3kqpa2lhikgiq</string>
	<key>API_KEY</key>
	<string>AIzaSyD-C-pLKgrrm3Jk2vR7J_mZR9v4shZJ2M0</string>
	<key>GCM_SENDER_ID</key>
	<string>23098540001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.warhammerApp</string>
	<key>PROJECT_ID</key>
	<string>statshammer-ml</string>
	<key>STORAGE_BUCKET</key>
	<string>statshammer-ml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23098540001:ios:039e7577d4b902b33c5ca0</string>
	<key>DATABASE_URL</key>
	<string>https://statshammer-ml.firebaseio.com</string>
</dict>
</plist>